<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>bundleid</key>
  <string>com.lessismore.alfred.telegrambotsender</string>
  <key>category</key>
  <string>Productivity</string>
  <key>connections</key>
  <dict>
    <key>23A40E4F-D0C1-4D56-9B6B-B2F203C2C300</key>
    <array>
      <dict>
        <key>destinationuid</key>
        <string>26F6A53F-44A9-44A8-872A-0DDB76118D01</string>
        <key>modifiers</key>
        <integer>0</integer>
        <key>modifiersubtext</key>
        <string></string>
      </dict>
    </array>
    <key>1A3618C2-C793-4C20-A177-CF45D2687A5D</key>
    <array>
      <dict>
        <key>destinationuid</key>
        <string>26F6A53F-44A9-44A8-872A-0DDB76118D01</string>
        <key>modifiers</key>
        <integer>0</integer>
        <key>modifiersubtext</key>
        <string></string>
      </dict>
    </array>
  </dict>
  <key>createdby</key>
  <string>Codex</string>
  <key>description</key>
  <string>Send selected text or query to a specific Telegram bot.</string>
  <key>disabled</key>
  <false/>
  <key>name</key>
  <string>Send to Telegram</string>
  <key>objects</key>
  <array>
    <dict>
      <key>config</key>
      <dict>
        <key>argumenttype</key>
        <integer>1</integer>
        <key>keyword</key>
        <string>tgb</string>
        <key>skipuniversalaction</key>
        <false/>
        <key>subtext</key>
        <string>输入后发送到 Telegram 指定机器人</string>
        <key>text</key>
        <string>Send to Telegram</string>
        <key>withspace</key>
        <true/>
      </dict>
      <key>type</key>
      <string>alfred.workflow.input.keyword</string>
      <key>uid</key>
      <string>23A40E4F-D0C1-4D56-9B6B-B2F203C2C300</string>
      <key>version</key>
      <integer>1</integer>
    </dict>
    <dict>
      <key>config</key>
      <dict>
        <key>text</key>
        <string>Send to Telegram: '{query}'</string>
      </dict>
      <key>type</key>
      <string>alfred.workflow.trigger.fallback</string>
      <key>uid</key>
      <string>1A3618C2-C793-4C20-A177-CF45D2687A5D</string>
      <key>version</key>
      <integer>1</integer>
    </dict>
    <dict>
      <key>config</key>
      <dict>
        <key>concurrently</key>
        <false/>
        <key>escaping</key>
        <integer>102</integer>
        <key>script</key>
        <string>./send_to_telegram.sh "$1"</string>
        <key>scriptargtype</key>
        <integer>1</integer>
        <key>scriptfile</key>
        <string></string>
        <key>type</key>
        <integer>11</integer>
      </dict>
      <key>type</key>
      <string>alfred.workflow.action.script</string>
      <key>uid</key>
      <string>26F6A53F-44A9-44A8-872A-0DDB76118D01</string>
      <key>version</key>
      <integer>2</integer>
    </dict>
  </array>
  <key>readme</key>
  <string>Set TG_BOT_USERNAME in workflow variables.</string>
  <key>uidata</key>
  <dict>
    <key>1A3618C2-C793-4C20-A177-CF45D2687A5D</key>
    <dict>
      <key>xpos</key>
      <real>40</real>
      <key>ypos</key>
      <real>220</real>
    </dict>
    <key>23A40E4F-D0C1-4D56-9B6B-B2F203C2C300</key>
    <dict>
      <key>xpos</key>
      <real>40</real>
      <key>ypos</key>
      <real>80</real>
    </dict>
    <key>26F6A53F-44A9-44A8-872A-0DDB76118D01</key>
    <dict>
      <key>xpos</key>
      <real>300</real>
      <key>ypos</key>
      <real>140</real>
    </dict>
  </dict>
  <key>userconfigurationconfig</key>
  <array/>
  <key>variables</key>
  <dict>
    <key>TG_BOT_USERNAME</key>
    <string>xiaolin_clawdbot</string>
  </dict>
  <key>version</key>
  <string>0.1</string>
  <key>webaddress</key>
  <string></string>
</dict>
</plist>
