<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>bundleid</key>
  <string>com.lessismore.alfred.feishusender</string>
  <key>category</key>
  <string>Productivity</string>
  <key>connections</key>
  <dict>
    <key>10D26AF2-1306-43A7-92BF-52CF2A5654BE</key>
    <array>
      <dict>
        <key>destinationuid</key>
        <string>8C603BBF-D31C-4C43-8A2F-6F2C4AB1F4E8</string>
        <key>modifiers</key>
        <integer>0</integer>
        <key>modifiersubtext</key>
        <string></string>
      </dict>
    </array>
    <key>55B98B61-87C8-4885-B3A2-3A26A330D8D7</key>
    <array>
      <dict>
        <key>destinationuid</key>
        <string>8C603BBF-D31C-4C43-8A2F-6F2C4AB1F4E8</string>
        <key>modifiers</key>
        <integer>0</integer>
        <key>modifiersubtext</key>
        <string></string>
      </dict>
    </array>
  </dict>
  <key>createdby</key>
  <string>Codex</string>
  <key>description</key>
  <string>Send selected text or query to Feishu app.</string>
  <key>disabled</key>
  <false/>
  <key>name</key>
  <string>Send to Feishu</string>
  <key>objects</key>
  <array>
    <dict>
      <key>config</key>
      <dict>
        <key>argumenttype</key>
        <integer>1</integer>
        <key>keyword</key>
        <string>fei</string>
        <key>skipuniversalaction</key>
        <false/>
        <key>subtext</key>
        <string>输入后发送到飞书</string>
        <key>text</key>
        <string>Send to Feishu</string>
        <key>withspace</key>
        <true/>
      </dict>
      <key>type</key>
      <string>alfred.workflow.input.keyword</string>
      <key>uid</key>
      <string>10D26AF2-1306-43A7-92BF-52CF2A5654BE</string>
      <key>version</key>
      <integer>1</integer>
    </dict>
    <dict>
      <key>config</key>
      <dict>
        <key>text</key>
        <string>Send to Feishu: '{query}'</string>
      </dict>
      <key>type</key>
      <string>alfred.workflow.trigger.fallback</string>
      <key>uid</key>
      <string>55B98B61-87C8-4885-B3A2-3A26A330D8D7</string>
      <key>version</key>
      <integer>1</integer>
    </dict>
    <dict>
      <key>config</key>
      <dict>
        <key>concurrently</key>
        <false/>
        <key>escaping</key>
        <integer>102</integer>
        <key>script</key>
        <string>./send_to_feishu.sh "$1"</string>
        <key>scriptargtype</key>
        <integer>1</integer>
        <key>scriptfile</key>
        <string></string>
        <key>type</key>
        <integer>11</integer>
      </dict>
      <key>type</key>
      <string>alfred.workflow.action.script</string>
      <key>uid</key>
      <string>8C603BBF-D31C-4C43-8A2F-6F2C4AB1F4E8</string>
      <key>version</key>
      <integer>2</integer>
    </dict>
  </array>
  <key>readme</key>
  <string>Send text to Feishu current chat. Optional FEISHU_SEND_MODE: enter/cmd_enter/both.</string>
  <key>uidata</key>
  <dict>
    <key>10D26AF2-1306-43A7-92BF-52CF2A5654BE</key>
    <dict>
      <key>xpos</key>
      <real>40</real>
      <key>ypos</key>
      <real>80</real>
    </dict>
    <key>55B98B61-87C8-4885-B3A2-3A26A330D8D7</key>
    <dict>
      <key>xpos</key>
      <real>40</real>
      <key>ypos</key>
      <real>220</real>
    </dict>
    <key>8C603BBF-D31C-4C43-8A2F-6F2C4AB1F4E8</key>
    <dict>
      <key>xpos</key>
      <real>300</real>
      <key>ypos</key>
      <real>140</real>
    </dict>
  </dict>
  <key>userconfigurationconfig</key>
  <array/>
  <key>variables</key>
  <dict>
    <key>FEISHU_TARGET_NAME</key>
    <string>Openclaw</string>
    <key>FEISHU_TARGET_SHORTCUT</key>
    <string>cmd_k</string>
    <key>FEISHU_SEND_MODE</key>
    <string>enter</string>
  </dict>
  <key>version</key>
  <string>0.1</string>
  <key>webaddress</key>
  <string></string>
</dict>
</plist>
